.first_section
    display: flex
    justify-content: flex-end
    align-items: center
    flex-direction: column
    gap: 5rem
    margin-top: 10rem
    padding-bottom: 10rem
    position: relative

    & p
        text-align: center
        width: 40rem

    & img
        width: 15rem
        border-radius: 100px
        position: absolute

        right: 1rem

.socials_front_page
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem
    height: 5rem
    width: 50rem

    & svg
        width: 3rem
