.grid_second_section
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 10rem

    & iframe
        width: 18rem
        height: 18rem
        border-radius: 20px

.second_section
    display: flex
    justify-content: center
    align-items: center

    flex-direction: column
    gap: 4rem
